.next-button{
    background-color: rgba(0,91,36,1);
    width: 265px;
    height: 50px;
    color: rgba(255,255,255,1);
    border-radius: 10px;
}
.heading-2{
  font-weight: 600;
  font-size: 22px;
  
}